# Remove the --extra-index-url line below if you're not using Nvidia GPU.
# If you're using it, update url to your CUDA version (CUDA 12.1 is minimum requirement):
# For CUDA 12.1, use : https://download.pytorch.org/whl/cu121
# For CUDA 12.4, use : https://download.pytorch.org/whl/cu124
--extra-index-url https://download.pytorch.org/whl/cu124


torch
torchaudio
git+https://github.com/jhj0517/jhj0517-whisper.git
faster-whisper==1.0.3
transformers
gradio
gradio-i18n
pytubefix
ruamel.yaml==0.18.6
pyannote.audio==3.3.2
git+https://github.com/jhj0517/ultimatevocalremover_api.git
git+https://github.com/jhj0517/pyrubberband.git