--extra-index-url https://download.pytorch.org/whl/cu124

# Update above --extra-index-url according to your device.

## Nvidia GPU
# CUDA 12.1 : https://download.pytorch.org/whl/cu121
# CUDA 12.4 : https://download.pytorch.org/whl/cu124

## Intel GPU
# https://download.pytorch.org/whl/xpu


torch
torchaudio
git+https://github.com/jhj0517/jhj0517-whisper.git
faster-whisper==1.1.1
transformers==4.47.1
gradio
gradio-i18n
pytubefix
ruamel.yaml==0.18.6
pyannote.audio==3.3.2
git+https://github.com/jhj0517/ultimatevocalremover_api.git
git+https://github.com/jhj0517/pyrubberband.git
