name: CI-Shell Script

on:
  workflow_dispatch:

  push:
    branches:
      - master
      - intel-gpu
  pull_request:
    branches:
      - master
      - intel-gpu
  
jobs:
  test-shell-script:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.10", "3.11", "3.12"]

    steps:
    - name: Clean up space for action
      run: rm -rf /opt/hostedtoolcache

    - uses: actions/checkout@v4
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python }}

    - name: Install git and ffmpeg
      run: sudo apt-get update && sudo apt-get install -y git ffmpeg

    - name: Execute Install.sh
      run: |
        chmod +x ./Install.sh
        ./Install.sh

    - name: Execute start-webui.sh
      run: |
        chmod +x ./start-webui.sh
        timeout 60s ./start-webui.sh || true

